{% extends 'base.html.twig' %}

{% block title %}
	{{ product.name }}
{% endblock %}

{% block body %}

	<p>
		Categorie:{{ category }}
	</p>
	<p>
		<div>
			<a href="{{ path('app_email_product', { id:product.id }) }}"> SHARE by mail </a>
				
			<h2>{{ product.name }}</h2>
			{% if product.productImages | length > 0 %}
				<img src="{{ asset('product-images/' ~ product.productImages[0].path) }}" width="100"/>
			{% endif %}
			<span>{{ product.price | format_currency('EUR', locale='fr') }}</span>
			<div>
				{{ form(cart_form) }}
			</div>
		</div>

		<div>
			{% if existingReview %}
                <div>
                    <p>Vous avez déjà déposé le commentaire ci-dessous.</p>
                    <p>Déposé le: {{ existingReview.CreatedAt |format_datetime('full', 'medium', locale='fr') }} </p>
					<p>note:{{ existingReview.Rating }} </p>
					<p>{{ existingReview.ReviewContent }}</p>
                </div>
            {% else %}
				
                {% if app.user %}
					{{ form(review_form) }}
						{% else %}
							<a href="{{ path('app_login') }}">Connectez-vous pour pouvoir donner une note ou un avis sur le produit</a>
					{% endif %}

			{% endif %}

			</div>

			<div>
				<a href="{{ path('app_category', { id: category.id }) }}">Retour à la liste des
					{{ category }}</a>
			</div>


		{% endblock %}
